#layerSelect {
    position: absolute;
    width: 15em;
    top: 30px;
    right: 30px;
    }

.prettyForm {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

#newPointForm {
    position: absolute;
    width: 350px;
    height: 5em;
    top: 30px;
    left: 100px;
}

#adminTable {
    width: 95%;
    padding: 0.3em;
    border: 1px solid black;
}

tbody.admin tr:nth-child(even) {
    background-color: #eaeaea;
}

thead.admin tr {
    padding: 0.5em;
    background-color: black;
    color: white;
}
